@model CRM.Application.Dto.User.ApplicationUserVM
@{
    ViewBag.Title = "User data";
}

<div class="card" style="margin-bottom: 1vh;">
    <div class="card-header">
        <h2>@Model.FirstName @Model.LastName</h2>
    </div>
    <div class="card-body">
        <div class="row">
            Business email(login): @Model.Email
        </div>
        <div class="row">
            Private phone: @Model.PhoneNumber
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>User Roles</h3>
    </div>
    <div class="card-body">
        @if (Model.Roles.Any())
        {
            foreach (var role in Model.Roles)
            {
                <h5 class="card-title">@role</h5>
            }
        }
        else
        {
            <h5 class="card-title">None at the moment</h5>
        }
    </div>
    <div class="card-footer">
        <a asp-action="ManageUserRoles" asp-route-Id="@Model.Id" style="width:auto" class="btn btn-primary">
            Manage Roles
        </a>
    </div>
</div>